@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swamp');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
    background:#8ea79aa4;
}

.boxP{
    position: relative;
    width: 380px;
    height: 720px;
    background: rgb(114, 156, 135);
    border-radius: 8px;
    overflow: hidden;
}

.boxP::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 520px;
    background: linear-gradient(0deg,transparent,#91dd9b,#45ffa2);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.boxP::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 520px;
    background: linear-gradient(0deg,transparent,#91dd9b,#45ffa2);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.formP{
    position: absolute;
    inset: 2px;
    background: #72a59e;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.formP h2{
    color: #24232393;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.inputboxP{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputboxP input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #242323b2;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.inputboxP span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #242323b2;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputboxP input:valid ~ span,
.inputboxP input:focus ~ span
{
    color: #ACD9B2;
    transform: translateY(-34px);
    font-size: 0.75em;
}
.inputboxP i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ACD9B2;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputboxP input:valid ~ i,
.inputboxP input:focus ~ i
{
    height: 44px;
}
.loginP{
    border: none;
    width: 100%;
    color:#0d4127;
    font-size: 20px;
    background: #ACD9B2;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}
.loginP a{
    text-align: center;
    text-decoration: none;
    color: #deeeea;
    display: flex;
    justify-content: center;

}

.signupP {
    border: none;
    width: 100%;
    color:#0d4127;
    font-size: 20px;
    background: #ACD9B2;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}

.signupP a{
    text-align: center;
    text-decoration: none;
    color: #24232393;
    display: flex;
    justify-content: center;

}